node_modules/*
backend/node_modules/*
frontend/node_modules/*
backend/api/__pycache__/*
backend/api/migrations/*
backend/api/db.sqlite3
backend/api/db.sqlite3-journal
backend/api/db.sqlite3-wal
backend/api/__pycache__/*
backend/backend/__pycache__/*

frontend/venv3
frontend/venv5
frontend/mnt
backend/mnt
backend/venv_3_10
node_modules
backend/api/motorcyclist_trajectory_map*
