

# Ignore Python __pycache__ folders
__pycache__/
**/__pycache__/

# Ignore video files
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.webm

# Whitelisted mp4 files
!Reckless Motorcyclist.mp4

# Ignore any folder (and its contents) with "DISCONTINUED" in the name
**/*DISCONTINUED*/

# Ignore the large vehicle trajectories csv file
*Next_Generation_Simulation__NGSIM__Vehicle_Trajectories_and_Supporting_Data_20250309.csv

# Ignore all *_tracks.csv, *_tracksMeta.csv, *_recordingMeta.csv
*_tracks.csv
*_tracksMeta.csv
*_recordingMeta.csv

# Whitelist the 01_ versions
!01_tracks.csv
!01_tracksMeta.csv
!01_recordingMeta.csv


